* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100vh;
    background-image: url("/img/8296016.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center, center !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container-main {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: rgb(200, 200, 200);
    border-radius: 10px;
    height: 90vh;
    width: 90%;
    margin: auto;
}

.tab-container {
    display: flex;
    flex-wrap: nowrap;
    width: 700px;
    height: 50px;
    margin-inline: auto;
    justify-content: center;
    transform: translateY(2px);
    margin-top: 20px;
}

.tab-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
    border-top: 2px solid grey;
    height: 80vh;
}

.tab {
    width: 300px;
    border: 2px solid grey;
    margin-inline: 5px;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.tab-label {
    font-size: 30px;
    margin-top: 7px;
    font-family: 'VW Head', sans-serif;
    font-weight: bold;
    text-align: center;
}

.active-tab {
    background: rgb(200, 200, 200);
}

.active-tab > p {
    color: #025dff;
}

.crypto-data-container {
    width: 50%;
    float: left;
    height: 70vh;
    overflow: auto;
    padding-right: 30px;
}

.crypto-chart-container {
    width: 50%;
    float: right; 
    min-height: 70vh;
    padding-left: 30px;
}

.crypto-data-container > table {
    border-collapse: collapse;
    border: 1px solid grey;
    width: 100%;
}

.crypto-data-container thead {
    border-bottom: 1px solid grey;
}

.crypto-data-container > table th {
    text-align: left;
    padding: 10px 10px 10px 0;
    font-size: 20px;
    font-family: 'VW Head';
    color: grey;
    font-weight: 100;
}

.crypto-data-container > table th:nth-child(1) {
    padding-left: 10px;
}

.crypto-data-container p {
    margin-top: 5px;
    font-size: 20px;
    color: grey; 
    font-family: 'VW Text', sans-serif;
}

td > a {
    display: flex;
    flex-wrap: nowrap;
}

.timespan-select-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    margin: 20px 20px 0 0;
}

.timespan-select {
    height: 30px;
    width: 30px;
    color: white;
    background: #025dff;
    font-size: 15px;
    text-align: center;
    font-family: 'VW Head', sans-serif;
    border-radius: 5px;
    margin-left: 5px;
    padding-top: 5px;
    cursor: pointer;
}

.timespan-select:hover {
    opacity: .8;
}

.user-selected-row {
    background-color: #025dff !important;
}

.active-tspan {
    opacity: unset;
    pointer-events: none;
    background: #002047;
}

#current-chart-coin {
    font-size: 30px;
    font-family: 'VW Text', sans-serif;
    text-align: center;
}

.coin-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: 10px;
}

.coin-name-container {
    margin-top: 5px;
}

.coin-icon {
    height: 40px;
    width: 40px;
}

.coin-name-full {
    font-size: 30px;
    font-family: 'VW Text', sans-serif;
}

.coin-name-short {
    font-size: 25px;
    font-family: 'VW Text', sans-serif;
    color: grey;
}

.coin-price,
.coin-fluctuation {
    font-size: 25px;
    font-family: 'VW Text', sans-serif;
}

.buy-btn {
    height: 40px;
    font-family: 'VW Text', sans-serif;
    padding-inline: 10px;
    font-size: 20px;
    color: white;
    background-color: green;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.buy-btn-container {
    margin-top: 5px;
}

.buy-btn:hover {
    background-color: #005000;
}

tbody tr {
    line-height: 50px;
    cursor: pointer;
    border-bottom: 1px solid grey;
}

.up {
    color: green;
}

.down {
    color: red;
}

.focused { 
    background-color: grey;
}

#exit-btn {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(200, 200, 200);
    padding-top: 7px;
    font-size: 35px;
    text-align: center;
    border: 2px solid #002047;
    cursor: pointer;
}

#exit-btn:hover {
    color: #025dff;
}
