* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html {
    width: 100%;
    height: 100vh;
    background-image: url("/img/8296016.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center, center !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: unset !important;
}

#container-main {
    display: flex;
    flex-direction: column;
    background-color: rgb(200, 200, 200);
    border-radius: 10px;
    height: 90vh;
    width: 90%;
    margin: auto;
    overflow: auto;
}

.tab-container {
    display: flex;
    flex-wrap: nowrap;
    width: 700px;
    height: 50px;
    margin-inline: auto;
    justify-content: center;
    transform: translateY(2px);
    margin-top: 30px;
}

.tab-content {
    width: 90%;
    margin-inline: auto;
    border-top: 2px solid grey;
}

/* .tab-content > div {
    margin-top: 40px;
} */

.tab {
    width: 300px;
    border: 2px solid grey;
    height: auto;
    margin-inline: 5px;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.tab-label {
    font-size: 30px;
    margin: 7px;
    font-family: 'VW Head', sans-serif;
    font-weight: 400;
    text-align: center;
}

.crypto-data-container {
    width: 50%;
    float: left;
    padding-right: 30px;
}

.crypto-chart-container {
    width: 50%;
    float: right; 
    min-height: 70vh;
    padding-left: 30px;
}

.crypto-data-container > table {
    border-collapse: collapse;
    width: 100%;
}

tbody > tr:last-child { 
    border: none;
}

.crypto-data-container thead {
    border-bottom: 1px solid grey;
}

.crypto-data-container > table th {
    text-align: left;
    padding: 10px 10px 10px 0;
    font-size: 20px;
    font-family: 'VW Head';
    color: grey;
    font-weight: 100;
}

.crypto-data-container > table th:nth-child(1) {
    padding-left: 10px;
}

.crypto-data-container p {
    margin-top: 5px;
    font-size: 20px;
    color: grey; 
    font-family: 'VW Text', sans-serif;
}

td > a {
    display: flex;
    flex-wrap: nowrap;
}

.timespan-select-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    margin: 20px 20px 0 0;
}

.timespan-select {
    height: 30px;
    width: 30px;
    color: white;
    background: #025dff;
    font-size: 15px;
    text-align: center;
    font-family: 'VW Head', sans-serif;
    border-radius: 5px;
    margin-left: 5px;
    padding-top: 5px;
    cursor: pointer;
}

.timespan-select:hover {
    opacity: .8;
}

.user-selected-row {
    background-color: #002047 !important;
}

.user-selected-row {
    color: white !important;
}

.active-tspan {
    opacity: unset;
    pointer-events: none;
    background: #002047;
}

#current-chart-coin {
    font-size: 30px;
    font-family: 'VW Text', sans-serif;
    text-align: center;
}

.coin-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: 10px;
}

.coin-name-container {
    margin-top: 5px;
}

.coin-icon {
    height: 40px;
    width: 40px;
}

.coin-name-full {
    font-size: 30px;
    font-family: 'VW Text', sans-serif;
}

.coin-name-short {
    font-size: 25px;
    font-family: 'VW Text', sans-serif;
    color: grey;
}

.coin-price,
.coin-fluctuation {
    font-size: 25px;
    font-family: 'VW Text', sans-serif;
}

.buy-btn,
#buy-btn-final {
    height: 40px;
    font-family: 'VW Text', sans-serif;
    padding-inline: 10px;
    font-size: 20px;
    color: white;
    background-color: #025dff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#buy-btn-final {
    margin-bottom: 30px; 
}

.buy-btn-container {
    margin-top: 5px;
}

.buy-btn:hover, 
#buy-btn-final:hover {
    opacity: .7;
}

tbody tr {
    line-height: 50px;
    cursor: pointer;
    border-bottom: 1px solid grey;
}

.up {
    color: green !important;
}

.down {
    color: red !important;
}

.focused { 
    background-color: grey;
}

.function-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(200, 200, 200);
    font-size: 35px;
    text-align: center;
    border: 2px solid #002047;
    cursor: pointer;
    left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.function-btn ion-icon {
    margin: auto;
}

.function-btn:hover {
    color: #025dff !important;
}

#exit-btn {
    bottom: 15px;
}

#color-theme-btn {
    bottom: 70px;
}

#settings-btn {
    bottom: 125px;
    font-size: revert;
    padding-top: 4px;
}

#settings-popup {
    border: 2px solid grey;
    position: absolute;
    left: 70px;
    bottom: 125px;
}

/* Dark mode options */

.dark-background {
    background-color: #222 !important;
}

.dark-color {
    color: white !important;
}

/* Buy element */

.buy-content {
    flex-wrap: wrap;
    flex-direction: column;
    position: fixed;
    justify-content: space-between;
    display: flex; 
    width: 50%; 
    left: 0;
    right: 0;
    margin: auto;
    min-height: 400px; 
    background-color: rgb(200, 200, 200); 
    border-radius: 5px;
    border: 2px solid grey;
}

.buy-overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 2; 
}

.buy-overlay .coin-icon {
    margin: 20px 15px 10px 10px;
}

.buy-overlay .coin-name-full {
    color: grey;
    margin-top: 20px;
}

.buy-overlay .coin-price {
    color: grey;
}

.buy-overlay .coin-name-short {
    margin: 25px 0 0 5px;
}

.buy-overlay p {
    font-size: 25px;
    font-family: 'VW Head', sans-serif;
}


.buy-content > div:nth-child(2) {
    width: 50%;
    margin: auto;
}

.buy-content > div:nth-child(1)  { 
    display: flex;
    justify-content: space-between;
}

.amount-select-container {
    transform: translateX(8px);
    display: flex;
    margin: auto;
    justify-content: center;
}

.amount-select-container p {
    color: grey;
}

.selected-tab {
    color: white !important;
    background-color: #025dff !important;
    pointer-events: none;
}

.info-buy {
    flex-direction: column;
    display: flex;
}

.info-buy > p {
    margin: 5px 15px 5px 5px;
    font-size: 40px;
}

.buy-overlay .coin-fluctuation {
    transform: translateX(-16px);
}

#portfolio-btn:hover, #overview-btn:hover {
    background-color: #002047;
}

.amount-select {
    width: 40px;
    height: 50px;
    border: none;
    font-size: 45px;
    background-color:  rgb(200, 200, 200);
    color: #025dff;
    padding: 5px 5px 5px 10px;
    font-family: 'VW Head', sans-serif;
}

.amount-select::placeholder {
    color: grey
}


.amount-select:focus-visible {
    border: none;
    outline: none;
}

.coin-icon-container.buy-element {
    justify-content: start;
    flex-direction: row;
}

.buy-btn-final-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#switch-btn {
    height: 40px;
    width: 40px;
    background-color: #025dff;
    font-size: 25px;
    cursor: pointer;
    color: white;
    border-radius: 50%;
    padding: 4px 0 0 7px;
    transform: translate(5px, 38px);
}

#switch-btn:hover {
    color: rgb(200, 200, 200);
}

.amount-converted-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.amount-converted-container p{
    margin: 0;
    color: #025dff;
}

.amount-converted-container p:nth-of-type(2){
    padding-left: 5px;
    color: grey;
}

/* Uikit overwrites */

#settings-popup.uk-card {
    background-color: rgb(200, 200, 200);
}

#form-stacked-select.uk-select {
    border-color: grey;
    background-color: rgb(200, 200, 200);
}

#form-stacked-select.uk-select:focus {
    background-color: rgb(200, 200, 200);
}

a {
    color: unset !important;
}

/* Media queries */

@media screen and (max-width: 1700px) {
    .tab-content {
        flex-direction: column;
    }

    .crypto-data-container,
    .crypto-chart-container {
        width: 100%;
    }
}