<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Tracker</title>
    <%- include('../partials/headerImports.ejs') %>
</head>

<body>

    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-center">
            <!-- Logo -->
            <img src="" alt="" loading="lazy" height="100" width="100">
        </div>
    </nav>

    <div class="uk-container uk-container-small uk-padding-large uk-text-center">
        <h1 class="uk-h1">Welcome to your digital portfolio!</h1>
        <p></p>
        <p class="uk-text-uppercase">
                <button id="login-btn" class="uk-button uk-button-primary" uk-toggle="target: #login-modal"
                    type="button"><span uk-icon="sign-in"></span>Login</button>
                <button id="register-btn"class="uk-button uk-button-secondary uk-margin-small-right" uk-toggle="target: #register-modal"
                    type="button"><span uk-icon="users"></span>Create Account</button>
        </p>
    </div>

    <div id="login-modal" uk-modal>
        <div class="uk-modal-dialog">
            <form action="">
                <div class="uk-modal-body">
                    <label for="username">Username:</label>
                    <input class="uk-input" type="text" id="username-login" name="username">
                    <label for="pass">Password:</label>
                    <input class="uk-input" type="password" id="pass-login" name="password" minlength="8" required>
                </div>
                <div class="uk-modal-footer">
                    <p class="uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                        <button id="login-confirm-btn" class="uk-button uk-button-primary" type="button">Login</button>
                    </p>
                </div>
            </form>
        </div>

        <div id="register-modal" uk-modal>
            <div class="uk-modal-dialog">
                <form action="">
                    <div class="uk-modal-header">
                        <h2 class="uk-modal-title">Create your free portfolio today!</h2>
                    </div>
                    <div class="uk-modal-body">
                        <label for="username">Username:</label>
                        <input class="uk-input" type="text" id="username-register" name="username" required>
                        <label for="password">Password:</label>
                        <input class="uk-input" type="password" id="password-register" name="password" minlength="8" required>
                        <label for="password-repeat">Password (repeat):</label>
                        <input class="uk-input" type="password" id="password-repeat-register" name="password-repeat" minlength="8" required>
                    </div>
                    <div class="uk-modal-footer uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                        <button id="register-confirm-btn" class="uk-button uk-button-primary" type="button">Register</button>
                    </div>
                </form>
            </div>  
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/js/index.js"></script>

</body>

</html>