<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/index.css">
    <title>Crypto12</title>
    <%- include('../partials/headerImports.ejs') %>
</head>

<body>
    <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle"
        style="background-image: url(/img/8296016.jpg);" uk-height-viewport>
        <div id="container-main" class="uk-card uk-card-default uk-card-body uk-border-rounded">
            <h1 class="uk-text-center">Welcome to <b>Crypto12</b></h1>
            <h2 class="uk-text-center uk-h3" style="color: grey;">Your free digital portfolio</h2>
            <p class="uk-text-uppercase uk-text-center">
                <button id="login-btn" class="uk-button uk-button-primary" uk-toggle="target: #login-modal"
                    type="button"><span uk-icon="sign-in"></span>Login</button>
                <button id="register-btn" class="uk-button uk-button-secondary uk-margin-small-right"
                    uk-toggle="target: #register-modal" type="button"><span uk-icon="users"></span>Create
                    Account</button>
            </p>
        </div>
    </div>

    <div id="login-modal" uk-modal="animation: uk-fade">
        <div class="uk-modal-dialog uk-margin-auto-vertical uk-border-rounded">
            <form action="">
                <div class="uk-modal-body">
                    <label for="username">Username:</label>
                    <input class="uk-input" type="text" id="username-login" name="username">
                    <label for="pass">Password:</label>
                    <input class="uk-input" type="password" id="password-login" name="password" minlength="8" required>
                </div>
                <div class="uk-modal-footer uk-border-rounded">
                    <p class="uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                        <button id="login-confirm-btn" class="uk-button uk-button-primary" type="button">Login</button>
                    </p>
                    <p>Need an Account? <a href="#register-modal" class="uk-link-text" uk-toggle>Create one here.</a>
                    </p>
                </div>
            </form>
        </div>

        <div id="register-modal" uk-modal="">
            <div class="uk-modal-dialog uk-margin-auto-vertical uk-border-rounded">
                <form action="">
                    <div class="uk-modal-body">
                        <label for="username">Username:</label>
                        <input class="uk-input" type="text" id="username-register" name="username" required>
                        <label for="password">Password:</label>
                        <input class="uk-input" type="password" id="password-register" name="password" minlength="8"
                            required>
                        <label for="password-repeat">Password (repeat):</label>
                        <input class="uk-input" type="password" id="password-repeat-register" name="password-repeat"
                            minlength="8" required>
                    </div>
                    <div class="uk-modal-footer uk-border-rounded">
                        <p class="uk-text-right">
                            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                            <button id="register-confirm-btn" class="uk-button uk-button-primary"
                                type="button">Register</button>
                        </p>
                        <p>Already have an Account? <a href="#login-modal" class="uk-link-text" uk-toggle>Login
                                here.</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="function-btn" id="color-theme-btn"><ion-icon name="sunny-outline"></ion-icon></div>
    <script type="module" src="/js/dist/ionicons/ionicons.esm.js"></script> 
    <script nomodule src="/js/dist/ionicons/ionicons.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>